@import '../../../config/theme';
// 文章列表item样式 其他样式另建less
.slick {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

.item {
  margin: 20px;
  color: #666;
  h2 {
    color: #333;
  }
}

.user {
  color: #666;
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #e9e9e9;
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
  }
  p {
    margin-top: 5px;
  }
}

